.constructorPage {

}

.header {
    display: flex;
    height: 60px;
    align-items: center;
    background: #282c34;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.tools {
    display: flex;
    width: 320px;
}

.canvas {
    width: calc(100% - 320px);;
}

.title {
    font-size: 28px;
    margin-bottom: 2px;
    color: white;
    margin-left: 20px;
}