html, body {
    margin: 0;
    padding: 0;
    background: #E7E7E7;
    height: 100vh;
}

details {
    background: #FAFAFA;
    border-radius: 15px;
    overflow: hidden;
    min-height: 48px;
}

summary {
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 10px;
    display: block;
    background: #FAFAFA;
    position: relative;
    cursor: pointer;
}


.container-horizontal {
    display: flex;
    flex-direction: row;
}

.container-vertical {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
    z-index: -3;
}