.blue-button {
    display: flex;

    align-items: center;
    justify-content: center;

    background: #1677FF;
    height: 36px;
    border-radius: 15px;
    color: white;
    width: 95px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    line-height: 125%;
}

.blue-button:hover {
    background: #4096ff;
}