.button-component {
    background: #1677ff;
    border-radius: 5px;
}

.button-component:hover {
    background: #4096ff;
}

.button-component-text {

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    vertical-align: middle;
    color: white;

    height: calc(100%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.input-component {
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 8px;
    border: #D7D7D7 solid 1px;
}

.input-component:hover {
    background: #FFFFFF;
    border: #4096ff solid 1px;
}

.resizable {
    resize: both;
    width: calc(100%);
    height: calc(100%);
}

.selectable-off {
    display: flex;
    width: calc(100%);
    height: calc(100%);
    background: transparent;
    border: 0px transparent;
}

.selectable-on {
    display: flex;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border: 1px solid #1677ff;
}

.draggable {
    width: calc(100%);
    height: calc(100%);
}

.controllers {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100%);
    height: calc(100%);
}

.controllers .resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 1px solid #1677ff;
}

.controllers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize; /*resizer cursor*/
}

.controllers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.controllers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.controllers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}