.details {
    display: flex;
    flex-direction: column;
    
    background: white;

    border-right: 1px solid #eee;
    width: 300px;

}

.detail-block {
    display: flex;
    flex-direction: column;

    padding: 14px;

    background: white;
    border-bottom: solid 1px #F7F7F7;
}


.details-tabs {
    background: white;
    width: 280px;
    min-height: 130px;
}