.details {
    display: flex;
    flex-direction: column;

    border-radius: 15px;

    margin: 10px;
    
    background: white;

    border-right: 1px solid #eee;
    width: 280px;

}

.detail-block {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 15px;
}


.details-tabs {
    border-radius: 15px;
    background: white;
    width: 260px;
    min-height: 130px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}