.collapse {
    display: flex;
    flex-direction: column;
}

.collapse-item {
    border-top: solid 1px #F5F5F5;
    align-items: center;
}

.button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: max-content;
}

.button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.unselectable {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background: #EEEEEE;
}