.grid {
    margin: 64px;
    background: #F7F7F7;
    width: calc(100% - 600px);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: calc((100vh - 50px - 128px) / 18);
}

.grid-block {
    width: calc((100vw - 600px - 128px) / 12);
    margin-right: 1px;
    margin-top: 1px;
    background: white;
}