.header {
    display: flex;
    align-items: center;
    height: 64px;
    background: #2E2E2E;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 36px;
    padding-left: 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}