@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header {
    display: flex;
    align-items: center;
    height: 50px;
    background: #2E2E2E;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(125%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sub-header {
    width: calc(100%);
    height: 22px;

    /* Text/Accent */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(125%);
    /* identical to box height, or 157% */


    /* typography/Primary */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sub-sub-header {
    width: calc(100%);
    height: 18px;

    margin-top: 4px;
    margin-bottom: 10px;

    /* Text/Accent */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(125%);
    /* identical to box height, or 157% */


    /* typography/Primary */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.small-header {
    width: calc(100%);
    height: 18px;

    /* Text/Accent */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    /* identical to box height, or 157% */


    /* typography/Primary */

    color: #2D2D2D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.details-header {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}


.controls-header {
    display: flex;
    flex-direction: row;
}

.button-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px
}

.button-header:hover {
    background: black;
}

.header-selection-tab {
    height: 50px;
    padding: 20px;
}

.header-connection-tab {
    height: 370px;
    padding: 20px;
}