.modal-background {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    background: #2E2E2E99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #FFFFFF;
    width: 100%;
    height: calc(100% - 128px);
    border-radius: 15px;
    margin: 114px 64px 64px 64px;
}