.panel {
    width: 100%;
    padding: 10px;
    background: #FAFAFA;
    border-right: 1px solid #E9E9E9;
}

.schemasPanel {
    display: flex;
    flex-direction: column;
}

.tablesPanel {
    display: flex;
    flex-direction: column;
}